// Define variables for your color scheme

// For example:
//from UI components
$red: #A31636;
$blue: #7BBBE3;
$light-blue: #B2D5E5;
$green: #79DBE0;
$dark-grey: #343433;
$gray: #6C7F8B;
$light-gray: #4E4E4E;
$pink: #D7A0AE;

// not defined
$yellow: #FDB631;
$orange: #E67E22;
