#movies{
  display: none;
}
#sport{
  display: none;
}
#books{
  display: none;
}
.somethimg{
  display: flex;
}
#new_user_interest{
  display: none;
}
#fake-btn {
  opacity: 1 !important;
}
#fake-btn:hover {
  opacity: 0.8 !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.interest-background {
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.interest-container {
  display: flex;
  flex-direction: column;
  margin: 0% 30%;
  background-color: rgba(255,255,255,0.8);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.somethimg {
  position: relative;
  justify-content: center;
  padding-bottom: 3%;
}

