.background {
  background-size: cover;
  position: relative;
  background-position: 100% 58%;
  height: 100%;
}

.profile-content {
  padding-top: 10vh;
  height: 100%;
  min-height: 70vh;
  width: 100vw;
}


#test{
  transition: all ease 1s;
}


