.background {
  background-image: url('https://res.cloudinary.com/dqssam2go/image/upload/v1543325688/banner.jpg');
  background-size: cover;
}

.profile-content {
min-height: 100vh;
width: 100vw;
padding-top: 30vh;
}

#test{
  transition: all ease 1s;
}

.next-button {
  margin-top: 1%;
  display: inline-block;
  margin-bottom: 1%;
}
