<div class="modal fade" id="greetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
   <div class="modal-content" id="welcome" style="display: block;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title text-center">👋 <%= current_user.first_name %>, welcome to HerzCaspar !</h4>
    </div>
    <div class="modal-body">
      My name is <strong>Liz</strong> and I will help you settling in to HerzCaspar.<br><br>It is great to have you on board.<br><br> Best Liz<br>
   </div>
   <div class="modal-footer">
    <%= link_to "Continue", new_user_interests_path, class:"next-button", id: "greeting" %>
  </div>
</div>
</div>
</div>





