<div class="home-banner" style="background-image: url( <%=image_path('https://res.cloudinary.com/dqssam2go/image/upload/v1543325720/landing.jpg')%>);">
  <div class="home-container">
    <h1 class="home-main-header">Closing the gap between</h1>
    <h1 class="home-second-header"><strong class="home-header">well</strong> and <strong class="home-header">welcome home</strong>.</h1>
    <p class="home-small">Improving the lives of <strong class="home-small-header">400 young adults</strong> and counting...</p>
    <a class="btn-s" href="#" role="button">Sign Up</a>
  </div>
</div>
