<div class="match-container">
  <%= simple_form_for (@match) do |f| %>
    <%= f.input :patient, collection: @patients, label_method: :email, value_method: :id, class: "match-value" %>
    <%= f.input :buddy, collection: @buddies, label_method: :email, value_method: :id, class: "match-value" %>
    <%= f.button :submit, class: "next-button" %>
  <% end %>
</div>
