<div class="modal fade" id="matches_modal" role="modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
        <h4 class="modal-title text-center">Create a new match</h4>
      </div>
      <div class="modal-body">
        <%= render 'matches/form' %>
      </div>
    </div>
  </div>
</div>
