
.btn-s {
  padding: 10px 20px;
  border-radius: 4px;
  font-family: Roboto;
  border-radius: 5px;
  background-color:#7BBBE3;
  color: white;
  text-align: center !important;
  text-decoration: none;
}

.btn-s:hover {
  opacity: 0.8;
  text-decoration: none !important;
  color: white;
}
.btn-s:active {
  text-decoration: none !important;
}

.btn-s:visited {
  text-decoration: none !important;
}


.btn-f {
 padding: 10px 20px;
 border: 1px solid #999999;
 border-radius: 4px;
 font-family: Roboto;
 border-radius: 5px;
 background-color:#A31636;
 color: white;
 text-align: center !important;
 text-decoration: none;
}

.btn-f:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  background-color:#A31636;
}
