.calendar-container {
  margin: 5% 10%;
}

.fc-center {
  color: #A31636;
}

.fc-list-heading-main {
  color: #7BBBE3;
}

.fc-list-heading-alt {
  color: #7BBBE3;
}

.fc-list-empty {
  color: #A31636;
  font-size: 30px;
}
