.calendar-container {
  margin: 5% 10%;
  h2 {
    color: #508db0;
    font-weight: bolder;
  }
}


.fc-center {
  color: $red;
}

.fc-list-heading-main {
  color: #7BBBE3;
}

.fc-list-heading {
  span {
    color: white;

  }
}

.fc-list-heading-alt {
  color: #7BBBE3;
}

.fc-list-empty {
  color: #A31636;
  font-size: 30px;
}

.table {
  margin-bottom: 0;
}

.fc-list-item-time {
  background-color: whitesmoke;
  font-weight: 5;
  padding: 25px !important;
}

.fc-list-item-title {
  font-weight: bolder;
  padding: 25px 0 !important;
}


.fc-list-item-marker {
  font-weight: bolder;
  padding: 25px !important;
}


.fc-list-item:hover {
  opacity: 0.6;
}


.table > thead > tr > td.active, .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th {
  background-color: #508db0;
  color: white;
  padding: 19px;
}
.fc-scroller {
  height: 100% !important;
}
