.circle {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: $red;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
