.dashboard-message {
  display: block;
  text-align: center;
  align-items: center;
  padding: 29px 7px;
    /* border-bottom: 1px solid #7BBBE3; */
    background-color: #87bddb;
    margin-bottom: 1%;
    /* margin-right: 15%; */
    /* margin-left: 15%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    flex: 0 0 26%;
}
.dashboard-message:last-child {
  border-bottom: none;
}
.dashboard-message-body {
  flex-grow: 1;
  text-align: center;
}
.dashboard-message-name {
  padding-left: 10px;
  min-width: 100px;
}
.dashboard-message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.dashboard-message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.dashboard-message-body {
  padding-left: 10px;
  font-size: 25px;
  color: rgba(0,0,0,0.7);
}
.dashboard-message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.dashboard-message-body strong{
  color: rgb(70,70,70);
}
.dashboard-message-body p {
  margin: 6px 0;
}
.dashboard-message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}
input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.dashboard-avatar-large {
  border-radius: 0 !important;
  width: 50px !important;
  max-height: 80px !important;
}

