.form{
    width: 30%;
    padding: 0px;
    margin: 100px ;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #4E4E4E;
    text-align: center;
    float : right;
    // margin-top: 40%;
    // margin-bottom: 40%
}

.form-control {
    border-radius: 25px;
  }


.btn-s {
     text-align: center;
}


::placeholder {
  color: #343433 !important;
  background-color: transparent;
}



