#test{
  transition: all ease 1s;
}

#chat {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
}

.chat-header {

}

.list-wrapper {
  height: 250px;
  overflow: scroll;
  .list-item {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    :hover {
      color: black;
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 1px solid gray;
    a {
      text-decoration: none;
      color: gray;
    }
  }
}

.message-body {
  float: right;
  text-align: right;
/*      background: linear-gradient(120deg, #ddd, #eee);*/
  background:#fff;
  border:1px solid #ccc /*#4A90E2*/;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  border-radius: 20px 20px 0 20px;
  width: fit-content;
  margin-left: auto;
  padding: 6px 10px 7px;
  height: fit-content;
}

.message-time {
  font-size: 10px;
  text-align: left;
  margin-bottom: 0;
  margin-left: auto;
}
.my-time {
  font-size: 10px;
  text-align: right;
  margin-bottom: 0;
  margin-right: auto;
}

#messages {
  display: flex;
  flex-direction: column;


}

#test {
  width: 300px;
}

.chat-messages {
    height: 40vh;
    overflow: scroll;
}

#new_message {
  text-align: center;
  margin: 5px 0px;
}

.chat-container{
  h4 {
  }
}

.chat-window{
  width: 300px;
  margin: 0 0 0 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  transition: all ease 1s;
  border-radius: 10px;
}

.test-id-closed{
  height: 0px;
  opacity: 0;
  cursor:pointer;
  display:none;
}

.quit-chat{
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  position: absolute;
  right: 7px;
  top: 0px;
}

.chat-window-closed{
  height: 7%;
}

.chat-header{
  display: flex;
  align-items: center;
  background-color: #d3d3d329;
  height: 10vh;
  width: 300px;
  color: #000000c9;
  width: 300px;
  justify-content: space-around;
  .chat-title{
    margin: 0 0 0 0;
  }
  .conv-head{
    margin: 10px 0px;
    color: #7BBBE3;
  }
  img{
    z-index: 1;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
        position: absolute;
    top: -30px;
  }
  h2{
    margin:0 !important;
  }
}

.my-message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
  background: #eee; /*rgba(0, 0, 0, 0.1);*/
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 5px;
  position: relative;
  border:1px solid #ccc;
  text-align: left;
  width: fit-content;
  height: fit-content;
}
.messages-wrapper{
display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
.messsecond {
  display: flex;
  align-items: flex-end;
}

  .chatnavigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
  }
  .my-avatar{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-size: cover;
  }
  .not-my-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-size: cover;
  }
  .messagecontainer{
    width:100%;
        display: flex;
    flex-direction: column;
        height: fit-content;
}
  .messfirst{
    display: flex;
    align-items: flex-end;
  }

.input-message {
  border-radius: 5px;
}
