.modal-header {
  background-color: #508db0;
  color: white;
}

.modal-body{
      padding: 50px;
    font-size: 25px;
    color: #7a7a7a;
}

.modal-footer {
  padding: 0;
  border-top: none;
  .next-button {
  width: 50%;
  }
  .btn-f {
  width: 50%;
  }
}
