.nav-tabs > li, .nav-pills > li {
  position: relative;
  float:none;
  display:inline-block;
  margin: 0px 5px;
  font-color: white;
  border-radius: 3px 3px 0px 0px;
  background-color: rgba(255, 255, 255, 0.5);
    *display:inline; /* ie7 fix */
     zoom:1.3; /* hasLayout ie7 trigger */
   }

a {
  color: white;
}

.dashboard-message.completed {
    color: #ffffff;
    background-color: #508db0;
    strong {
          color: white;
    }
}


 .nav-tabs, .nav-pills {
  text-align:center;
}

.nav-tabs{
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-content{
  padding: 5px;
}

.title-profile {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 37px !important;
  text-align: center;
  color: grey;
  margin-top: 0;
}

.tab-content > .active{
  padding-top: 15px;
}

#home {
  &.active {

  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: auto;
  padding: 20px 89px;
  align-content: space-between;
  }
}

#myMateButton {
  a {
    font-weight: 600;
    color: #3b8eb4;
  }
}

.nav-tabs {
    border-bottom: none;
    padding: 20px 0;
    padding-bottom: 0;
}

  .nav-tabs > li > a{
    border: 1px solid #ddd;
    border-radius: 5px;


  }
  .nav-tabs > li > a:hover{
    color: #942438;
    background-color: rgba(255, 255, 255, 0.5);
    // font-weight: bold;
    cursor: pointer !important;
     border: 1px solid #ddd;

  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: solid 3px #508db0;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
  }


  .nav-link {
    margin-right: 0px !important;
    color: rgba(0,0,0,0.6);
    background-color: rgba(255, 255, 255, 0.5);

  }

  .positive {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: green;
  }

  .negative {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: $red;
  }

  a .nav-link.active {
      border-radius: 5px;
}
