.nav-tabs > li, .nav-pills > li {
  position: relative;
  float:none;
  display:inline-block;
  margin: 0px 5px;
  font-color: white;
  border-radius: 3px 3px 0px 0px;
  background-color: rgba(255, 255, 255, 0.5);
    *display:inline; /* ie7 fix */
     zoom:1.3; /* hasLayout ie7 trigger */
   }

a {
  color: white;
}

.dashboard-message.completed {
    color: #ffffff;
    background-color: #508db0;
    strong {
          color: white;
    }
}


   .nav-tabs, .nav-pills {
    text-align:center;
  }

  .nav-tabs{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .tab-content{
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    height: 90vh;
    overflow: scroll;

  }

  .title-profile {
    margin-bottom: 42px;
    font-weight: 200;
    font-size: 37px !important;
    text-align: center;
    color: grey;
  }

  #home {
    &.active {

    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    padding: 20px 89px;
    align-content: space-between;
    height: 510px;
    }
  }


.nav-tabs {
    border-bottom: none;
    padding: 20px 0;
}

  .nav-tabs > li > a{
    border: 1px solid #ddd;
    border-radius: 5px;


  }
  .nav-tabs > li > a:hover{
    color: #942438;
    background-color: rgba(255, 255, 255, 0.5);
    // font-weight: bold;
    cursor: pointer !important;
     border: 1px solid #ddd;

  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #508db0;
    border: solid 3px #508db0;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
  }



  .nav-link {
    margin-right: 0px !important;
    color: rgba(0,0,0,0.6);
    background-color: rgba(255, 255, 255, 0.5);

  }

  .positive {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: green;
  }

  .negative {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: $red;
  }

  a .nav-link.active {
      border-radius: 5px;
}
