.nav-tabs > li, .nav-pills > li {
  position: relative;
  float:none;
  display:inline-block;
  margin: 0px 5px;
  font-color: white;
  border-radius: 3px 3px 0px 0px;
  background-color: rgba(255, 255, 255, 0.5);
    *display:inline; /* ie7 fix */
     zoom:1.3; /* hasLayout ie7 trigger */
   }

a {
  color: white;
}


   .nav-tabs, .nav-pills {
    text-align:center;
  }

  .nav-tabs{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .tab-content{
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    min-height: 76vh;
  }

  #home {
    &.active {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 51px 30px;
    align-content: space-between;
    height: 510px;
    }
  }




  .nav-tabs > li > a{
    border: 1px solid #ddd;
    border-bottom: none;

  }
  .nav-tabs > li > a:hover{
    color: #942438;
    background-color: rgba(255, 255, 255, 0.5);
    // font-weight: bold;
    cursor: pointer !important;
     border: 1px solid #ddd;
    border-bottom: none;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #942438;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
  }



  .nav-link {
    margin-right: 0px !important;
    color: rgba(0,0,0,0.6);
    background-color: rgba(255, 255, 255, 0.5);
  }

  .positive {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: green;
  }

  .negative {
    border-radius: 3px;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
    background-color: $red;
  }

